<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
  <link rel="stylesheet" href="../../static/human/css/styles.css">

</head>
<body>
    <header>
            <a href="#" class="logo"><img src="../../static/human/images/RSjFDfJY4BTWJn0GIlW0tImc2BMNbAaG7DoI0GBWCdLuWGT01Rhk6yQh-JIAvYq8mC02gbFd.jpg"/></a>
        <div>
            <ul class="hrefs">
                <ul>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Добавить статью</a></li>
                    <li><a href="#">Удалить статью</a></li>
                </ul>
            </ul>
        </div>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>
