@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
a, u {
  text-decoration: none !important;
}
.pagination{
    justify-content: center;
}
.form{
    display: inline-block;
    width: 700px;
    text-align: center;
}
.foot_ul{
    display: inline;
    margin-right: 70px;
}
.hrefs{
    padding-left: 420px;
}
body{
    background-color: #fff;
}
.text{
    display: inline-block;
    margin-top: 45px;
    margin-right: 65px;

}
a{
    color: black;
}
img{
    height: 100px;
    float: left;
}

header{
    height: 100px;
    display: block;
    text-align: center;
}
.headerLI{
    display: inline;
    padding-left: 30px;
    padding-right: 30px;
}
footer{
    text-align: center;
    padding-top: 80px;
}
header>a{
    display: inherit;
}
.article{
    display: inline-block;
}
.article_color{
    display: inline-block;
    width: 1000px;
    background-color: rgba(253, 245, 230, 0.7);
}

main{
    text-align: center;
    display: block;
}

.RegForm{
    display: inline-block;
    width: 300px;
    padding-top: 60px;
}
.articleH{
    margin-bottom: 50px;
}
.indent{
    padding-top: 10px;
}
.fullHead{
    display: block;
    position: fixed;
    background-color: white;
    text-align: center;
}